body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(231,182,255);
    background: linear-gradient(90deg, rgba(231,182,255,1) 0%, rgba(254,212,255,1) 100%);
}

.main-navbar{
    background: rgb(148,0,221);
    background: linear-gradient(90deg, rgba(148,0,221,1) 0%, rgba(252,0,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.main-content-bg-1{
    color: #fff;
    background: rgb(148,0,221);
    background: linear-gradient(90deg, rgba(148,0,221,1) 0%, rgba(252,0,255,1) 100%);
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main-content-footer{
    bottom: 0;
    text-align: center;
    padding: 25px;
    color: #fff;
    background: rgb(148,0,221);
    background: linear-gradient(90deg, rgba(148,0,221,1) 0%, rgba(252,0,255,1) 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.s-icon span a{
    color: white;
    padding: 5px;
}

.logo-adiva-img{
    width: 200px;
}

/* animation */

/* fade-up */
.fadeup{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.fadeup.active{
    transform: translateY(0);
    opacity: 1;
}
